server:
  port: 8080

spring:
  application:
    name: bkrepo
  cloud:
    function:
      definition: artifactEventWebhook;scanEventConsumer
    stream:
      default-binder: memoryMessageChannelBinder
      bindings:
        scanEventConsumer-in-0:
          group: scanner
          destination: artifactEvent
          binder: memoryMessageChannelBinder
        artifactEvent-out-0:
          destination: artifactEvent
          binder: memoryMessageChannelBinder
        artifactEventWebhook-in-0:
          group: webhook
          destination: artifactEvent
          binder: memoryMessageChannelBinder
  data:
    mongodb:
      uri: mongodb://127.0.0.1:27017/bkrepo
      transaction:
        enabled: false
  main:
    allow-bean-definition-overriding: true

logging:
  config: classpath:logback-config.xml
  path: /data/logs
  level:
    com.tencent: DEBUG

storage:
  type: filesystem
  filesystem:
    path: /data/store

security:
  auth:
    enabled: true
    jwt:
      secretKey: bkrepo@secret

auth:
  security:
    enablePrefix: true

scanner:
  defaultDispatcher: docker
  dispatcher:
    docker:
      enabled: ${BK_REPO_ANALYST_DISPATCHER_DOCKER_ENABLED:false}
      host: unix:///var/run/docker.sock
  baseUrl: ${BK_REPO_SCHEME:http}://${BK_REPO_HOST:bkrepo.example.com}:${BK_REPO_PORT:80}
  detailReportUrl: ${baseUrl}/ui
  frontEndBaseUrl: ${baseUrl}/ui

management:
  metrics:
    export:
      influx:
        enabled: false

feign:
  client:
    decode-slash: false