<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="false">
    <property name="logging.app.file" value="${logging.path}/${spring.application.name}.log"/>
    <property name="logging.job.file" value="${logging.path}/${spring.application.name}-job.log"/>
    <property name="logging.error.file" value="${logging.path}/${spring.application.name}-error.log"/>
    <property name="logging.access.file" value="${logging.path}/${spring.application.name}-access.log"/>
    <property name="logging.file.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}|%X{ip:--}|%F|%L|%level|%X{err_code:-0}|%X{traceId:--}|%X{spanId:--}|||[%t] %m%ex%n"/>
    <property name="logging.console.pattern" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${logging.pattern.level:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} [%clr(%X{traceId:-},%X{spanId:-})] %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>





    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${logging.console.pattern}</pattern>
            </layout>
        </encoder>
    </appender>


</configuration>
