<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false" scan="false">
    <springProperty scope="context" name="logging.path" source="logging.path" defaultValue="logs"/>
    <springProperty scope="context" name="application.name" source="spring.application.name"/>

    <property name="logging.app.file" value="${logging.path}/${application.name}.log"/>
    <property name="logging.framework.file" value="${logging.path}/${application.name}-framework.log"/>
    <property name="logging.error.file" value="${logging.path}/${application.name}-error.log"/>
    <property name="logging.access.file" value="${logging.path}/${application.name}-access.log"/>
    <property name="logging.file.pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}|%X{ip:--}|%F|%L|%level|%X{err_code:-0}|||||[%t] %m%ex%n"/>
    <property name="logging.console.pattern" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- 彩色日志依赖的渲染类 -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <appender name="app_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.app.file}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.app.file}.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>1GB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${logging.file.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="error_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.error.file}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.error.file}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${logging.file.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="framework_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.framework.file}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.framework.file}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${logging.file.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logging.console.pattern}</pattern>
        </encoder>
    </appender>

    <springProfile name="!prod">
        <logger name="com.tencent.bkrepo" level="DEBUG" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
    </springProfile>

    <springProfile name="prod, test, dev">
        <logger name="com.tencent.bkrepo" level="WARN">
            <appender-ref ref="app_log"/>
        </logger>

        <logger name="org" level="WARN" additivity="false">
            <appender-ref ref="framework_log"/>
        </logger>

        <root level="ERROR">
            <appender-ref ref="error_log"/>
        </root>
    </springProfile>

</configuration>
