{{- if .Values.init.bcs.enabled -}}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "common.names.fullname" . }}-init-repo
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: init-repo
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" (dict "value" .Values.commonLabels "context" $) | nindent 4 }}
    {{- end }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": before-hook-creation
    {{- if .Values.commonAnnotations }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
    {{- end }}
spec:
  template:
    metadata:
      labels: {{- include "common.labels.standard" . | nindent 8 }}
        app.kubernetes.io/component: init-repo
    spec:
      {{- include "bkrepo.imagePullSecrets" . | nindent 6 }}
      containers:
        - name: init-repo
          image: {{ include "bkrepo.images.image" ( dict "imageRoot" .Values.init.curl.image "global" .Values.global "bkrepo" .Values.common) }}
          args:
            - /bin/sh
            - -c
            - |
              curl  -X POST http://{{ include "common.names.fullname" . }}-repository.{{ .Release.Namespace }}.svc.cluster.local./api/repo/create -d '{
                "projectId": "{{ include "bkrepo.init.project" . }}",
                "name": "public-cr",
                "type": "DOCKER",
                "category": "COMPOSITE",
                "public": true,
                "description": "docker remote description",
                "configuration": {
                "type" : "composite",
                "proxy" : {
                  "channelList" : [
                      {"public": true, "name":"bk-cr", "url": "{{ .Values.init.bcs.publicImageUrl }}" }
                  ]
                }
              },
              "storageCredentialsKey": null
              }' --header 'Content-Type: application/json' --header 'Accept: application/json' -u {{ .Values.common.username }}:{{ .Values.common.password }}
              
              curl  -X POST http://{{ include "common.names.fullname" . }}-repository.{{ .Release.Namespace }}.svc.cluster.local./api/repo/create -d '{
                "projectId": "{{ include "bkrepo.init.project" . }}",
                "name": "public-charts",
                "type": "HELM",
                "category": "COMPOSITE",
                "public": true,
                "description": "helm remote description",
                "configuration": {
                "type" : "composite",
                "proxy" : {
                  "channelList" : [
                      {"public": true, "name":"bk-charts", "url": "{{ .Values.init.bcs.publicChartUrl }}" }
                  ]
                }
              },
              "storageCredentialsKey": null
              }' --header 'Content-Type: application/json' --header 'Accept: application/json' -u {{ .Values.common.username }}:{{ .Values.common.password }}
      restartPolicy: OnFailure
  {{- end }}
