kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "common.names.fullname" . }}-common
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: repository
    {{- if .Values.commonLabels }}
      {{- include "common.tplvalues.render" (dict "value" .Values.commonLabels "context" $) | nindent 4 }}
    {{- end }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" (dict "value" .Values.commonAnnotations "context" $) | nindent 4 }}
  {{- end }}
data:
  application.yml: |-
    logging:
      config: classpath:logback-config.xml
      path: /data/workspace/logs
    spring:
      sleuth:
        enabled: true
      data:
        mongodb:
          uri: {{ include "bkrepo.mongodbUri" . }}
          transaction:
            enabled: false
    service.prefix: {{ include "common.names.fullname" . }}-
    {{- if or .Values.ingress.tls .Values.forceHttps }}
    oci.authUrl: https://{{ include "bkrepo.oci.authUrl" . }}
    oci.https: true
    {{- else }}
    oci.authUrl: http://{{ include "bkrepo.oci.authUrl" . }}
    oci.https: false
    {{- end }}
    {{- if and .Values.gateway.service.nodeIP (and .Values.gateway.service.dockerNodePort (or (eq .Values.gateway.service.type "NodePort") (eq .Values.gateway.service.type "LoadBalancer"))) }}
    oci.domain: {{ .Values.gateway.service.nodeIP }}:{{ .Values.gateway.service.dockerNodePort }}
    {{- else }}
    oci.domain: {{ .Values.gateway.dockerHost }}
    {{- end }}
    job.repoRefreshJobProperties.concurrentLevel: COLLECTION
    job.repoRefreshJobProperties.permitsPerSecond: 512
    job.repoRefreshJobProperties.types: HELM,OCI
    plugin.path: /data/workspace/plugin/
    management.metrics.collectByLog: true
    {{- if .Values.routercontroller.enabled }}
    router.controller.enabled: true
    router.controller.supportServices: generic
    {{- end }}
    multitenant.enabled: {{ .Values.gateway.enableMultiTenantMode }}
    multitenant.oPTenantId: {{ .Values.gateway.oPTenantId }}
    cluster:
      region: {{ .Values.common.region }}
      architecture: {{ .Values.cluster.architecture }}
      role: {{ .Values.cluster.role }}
      center:
        name: {{ .Values.cluster.center.name }}
        url: {{ .Values.cluster.center.url }}
        appId: {{ .Values.cluster.center.appId }}
        accessKey: {{ .Values.cluster.center.accessKey }}
        secretKey: {{ .Values.cluster.center.secretKey }}
      self:
        name: {{ .Values.cluster.self.name }}
        {{- if or .Values.ingress.tls .Values.forceHttps }}
        url: https://{{ .Values.gateway.host }}
        {{- else }}
        url: http://{{ .Values.gateway.host }}
        {{- end }}
        username: {{ .Values.common.username }}
        password: {{ .Values.common.password }}
    {{- toYaml .Values.common.config | nindent 4 }}
